@font-face {
  font-family: 'Custom_MingLiU';
  src: url('/assets/fonts/MingLiU.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Consolas_R';
  src: url('/assets/fonts/CONSOLA.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Consolas_B';
  src: url('/assets/fonts/CONSOLAB.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Consolas_I';
  src: url('/assets/fonts/CONSOLAI.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Consolas_BI';
  src: url('/assets/fonts/CONSOLAZ.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}