@charset "utf-8";

//
// VARIABLES
//

// Colors
$white: #FFFFFF;
$black: #000000;
$gray: #666666;
$lightGray: #EEEEEE;
$paleGray: #DDDDDD;
$darkGray: #333333;
$darkerGray: #222222;
:root  {
  --bg-color: #13161e;
  --text-color: #c6b6a7;
  --link-color: #f7c188;
  --accent-color: #feaf88;
  --footer-color: #43434d;
  --gray: #999492;
}


/* Light theme */
[data-theme="light"] {
  --bg-color: #dfd5c8;
  --text-color: #191e2e;
  --link-color: #607ab6;
  --accent-color: #79708e;
  --footer-color: #c3b4ab;
  --gray: #000
}

/* Sepia theme */
//[data-theme="sepia"] {
//  --bg-color: #f4ecd8;
//  --text-color: #3a2f1d;
//  --link-color: #8b4513;
//  --accent-color: #b7791f;
//}

// Pagination colors
$pagination-color: $darkGray;
$pagination-hover-color: var(--link-color);
$pagination-active-bg: var(--link-color);
$pagination-active-color: $white;
$pagination-separator-color: $paleGray;

// Font stacks
$sans-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Roboto, "Droid Sans", Arimo, "Helvetica Neue", Helvetica, "Liberation Sans", Arial, Ubuntu, "DejaVu Sans", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", sans-serif;
$code-font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", Consolas, Menlo, Monaco, "Noto Sans Mono", "Noto Mono", "Roboto Mono", "Droid Sans Mono", Cousine, Inconsolata, "Liberation Mono", "Ubuntu Mono", "DejaVu Sans Mono", "Courier New", monospace;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

// Transitions
$time: 250ms;
